
<div class="container ">
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="text-center fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Enquete de Satisfaction</h4>
      <h5 class="text-center fst-italic mb-5">"Votre avis nous serait utile pour nous permettre d'améliorer la qualité de nos servises."</h5>

      <form>
        <div class="row">
          <label class="col-sm-2 col-form-label" >Accueil :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-handshake"></i>
              </span>
              <select class="form-select" id="accueil">
                <option selected>Choisissez</option>
                <option value="1">Assez bien</option>
                <option value="2">Moyen</option>
                <option value="3">Bien</option>
                <option value="4">Mauvais</option>
              </select>
            </div>
          </div>

          <label class="col-sm-2 col-form-label">Renseignement :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-info"></i>
              </span>
              <select class="form-select" id="renseignement">
                <option selected>Choisissez</option>
                <option value="1">Précis</option>
                <option value="2">Imprécis</option>
                <option value="3">Insuffisant</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <label class="col-sm-2 col-form-label">Durée de Traitement :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-clock"></i>
              </span>
              <select class="form-select" id="duree1">
                <option selected>Choisissez</option>
                <option value="1">Moins d'une heure</option>
                <option value="2">Une journée</option>
                <option value="3">Plus d'une journée</option>
              </select>
            </div>
          </div>

          <label class="col-sm-2 col-form-label">Durée :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-clock"></i>
              </span>
              <input type="text" id="duree2" class="form-control"/>
            </div>
          </div>
        </div>


        <div class="row mt-4">
          <label class="col-sm-2 col-form-label" >Discriminaion :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-scale-unbalanced-flip"></i>
              </span>
              <select class="form-select" id="discrimination">
                <option selected>Choisissez</option>
                <option value="1">OUI</option>
                <option value="2">NON</option>
              </select>
            </div>
          </div>

          <label class="col-sm-2 col-form-label">Discrimination :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-scale-unbalanced-flip"></i>
              </span>
              <input type="text" id="discrimination2" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <label class="col-sm-2 col-form-label" >Corruption :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-hand-holding-dollar"></i>
              </span>
              <select class="form-select" id="corruption1">
                <option selected>Choisissez</option>
                <option value="1">OUI</option>
                <option value="2">NON</option>
              </select>
            </div>
          </div>

          <label class="col-sm-2 col-form-label">Corrution :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-hand-holding-dollar"></i>
              </span>
              <input type="text"
              id="corruption2" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <label class="col-sm-2 col-form-label">Résolution :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-plug-circle-check"></i>
              </span>
              <select class="form-select" id="resolution1">
                <option selected>Choisissez</option>
                <option value="1">En cours</option>
                <option value="2">Oui</option>
                <option value="3">Non</option>
                <option value="4">Pas du tout</option>
              </select>
            </div>
          </div>

          <label class="col-sm-2 col-form-label">Résolution :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-plug-circle-check"></i>
              </span>
              <input type="text" id="resolution2" class="form-control" />
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <label class="col-sm-2 col-form-label">Note général du service :</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-star"></i>
              </span>
              <select class="form-select" id="note">
                <option selected>Notez-nous svp !</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
            </div>
          </div>
        </div>

     
        <div class="row mt-4">
          <label class="col-sm-2 form-label" >Suggestions d'ameliorations :</label>
          <div class="col-sm-10">
            <div class="input-group">
              <span class="input-group-text" >
                <i class="fa-solid fa-comments"></i>
             </span>
              <textarea id="suggestions" class="form-control" placeholder="Nous serions reconnaissants de recevoir vos suggestions pour améliorer le service."></textarea>
            </div>
          </div>
        </div>

        <div class="d-md-flex justify-content-md-end mt-4">
          <button class="btn btn-info btn-icon-text me-md-2" type="button">
            <i class="fa-solid fa-angle-left"></i> Retour 
          </button>
          <button class="btn btn-info btn-icon-text btn-primary" type="button">
            Imprimer  <i class="fa-solid fa-print"></i>
          </button>
        </div>

        
      </form>
    </div>
  </div>
</div>





