<div class="corps">
    <section class="presentation first">

        <div class="image-presentation mt-5">
            <img
                src="../../../assets/img/Logo_hd_MEF-PETIT-2.png"
            />
        </div>
        <div class="product-presentation">

            <h1>Ministére des Finances et du Budget</h1>
                <p>
                    <span>Autorité de Régulation des Marchés Publics</span>  <br>
                    Immeuble Plan Anosy . 101 Antananarivo <br>
                    Tel : 24 750 07
                </p>

                <button class="">
                    <a href="">Se Connecter</a>
                    <i class="fa-solid fa-right-to-bracket p-2"></i>  
                </button>

                <div class="small-images">
                    <div class="small">
                        <img
                            src="../../../assets/img/logo_armp.png"
                        />  
                    </div>
                    <div class="small">
                        <img
                            src="../../../assets/img/DSI_1.png"
                        />
                    </div>
                </div>
        </div>



    </section>
</div>